<div class="my-form center-element" *ngIf="showLog">
  <mdb-card  [formGroup]="loginService.validatingForm">
  <mdb-card-body>
    <div class="text-center">
      <p class="h2">Login</p>
    </div>
      <div class="md-form">
        <input mdbInput mdbValidate type="email" class="form-control" formControlName="email">
        <label for="form8">Email validator</label>
        <mdb-error *ngIf="loginService.input.invalid && (loginService.input.dirty || loginService.input.touched)">Input invalid</mdb-error>
        <mdb-success *ngIf="loginService.input.valid && (loginService.input.dirty || loginService.input.touched)">Input valid</mdb-success>
      </div>
      <div class="md-form">
        <input mdbInput type="password"  class="form-control">
        <label for="form1" class="">password</label>
      </div>
      <div class="but row">
        <button mdbBtn class="mx-auto" type="button" color="light-blue" mdbWavesEffect (click)="showSuccess('welcome')">Login</button>
      </div>
      <div class="row justify-content-center">
        <a (click)="showLog =!showLog">Create an account</a>
      </div>
    </mdb-card-body>
  </mdb-card>

</div>

<div class="my-form center-element" *ngIf="!showLog">
  <mdb-card  [formGroup]="registerForm.validatingForm">
  <mdb-card-body>
    <div class="text-center">
      <p class="h2">Register</p>
    </div>
      <div class="md-form">
        <input mdbInput type="text"  class="form-control" formControlName="name">
        <label for="form1" class="">name</label>
      </div>
      <div class="md-form">
        <input mdbInput type="text"  class="form-control" formControlName="surname">
        <label for="form1" class="">surname</label>
      </div>

      <div class="md-form">
        <input mdbInput mdbValidate type="email"  class="form-control" formControlName="email">
        <label for="form8">Email validator</label>
        <mdb-error *ngIf="registerForm.input.invalid && (registerForm.input.dirty || registerForm.input.touched)">Input invalid</mdb-error>
        <mdb-success *ngIf="registerForm.input.valid && (registerForm.input.dirty || registerForm.input.touched)">Input valid</mdb-success>
      </div>
      <div class="md-form">
        <input mdbInput type="password"  class="form-control" formControlName="password">
        <label for="form1" class="">password</label>
      </div>
      <div class="but row">
        <button mdbBtn class="mx-auto" type="button" color="light-blue" (click)="showSuccess('successfully registered')" mdbWavesEffect>Register</button>
      </div>
      <div class="row justify-content-center">
        <a (click)="showLog =!showLog">Login</a>
      </div>
    </mdb-card-body>
    
  </mdb-card>
  </div>